<h1>Home Page</h1>
<p>Les appareils :</p>
<!-- First methode to show UA  -->
<app-appareil [appareil]="UA[0]"></app-appareil>
<app-appareil [appareil]="UA[1]"></app-appareil>

<hr>
<!-- Second methode to show UA  -->
<p>Les appareils :</p>
<app-appareil *ngFor="let app of UA" [appareil]="app"></app-appareil>

<hr>
<!-- Third methode to show UA  -->
<p>Les appareils :</p>
<app-appareil *ngFor="let app of UA; let index = index" [appareil]="UA[index]"></app-appareil>

<hr>
<h2>Boucle for</h2>
<!-- for  -->
<div *ngFor="let item of items" >
  {{ item.name }}
</div>

<!-- for  -->
<h2>Bouclé for avec index</h2>
<div *ngFor="let item of items; let index = index" >
  {{ item.name }} {{ index }}
</div>

<!-- for  -->
<h2>Bouclé for avec index, premier et dernier</h2>
<div *ngFor="let item of items; let index = index; let last = last; let first = first" >
  {{ item.name }} {{ index }} {{ first }} {{ last }}
</div>

<hr>
<p *ngIf="isVisible" (click) = "changeVisibilty()">L'element existe</p>
<p *ngIf="!isVisible" (click) = "changeVisibilty()">Afficher</p>
